<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.colmo.taptap.spud</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Application Support/TapTap/TapTapSPU</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.colmo.taptap.spud.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.colmo.taptap.spud.log</string>
</dict>
</plist>
